body {
  margin: 0;
  background: #444;
  overflow: hidden;
  font-family: sans-serif;
}

#game {
  position: relative;
  width: 100vw;
  height: 100vh;

  background: #666;
  overflow: hidden;
}

/* 空 */
#sky {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 10%;

  background: #64b5f6;

  z-index: 0;
}
#roadLine {
  position: absolute;

  top: 50%;
  left: 0;

  width: 200%;
  height: 12px;

  transform: translateY(-50%);

  background:
    repeating-linear-gradient(
      to right,
      white 0px,
      white 60px,
      transparent 60px,
      transparent 110px
    );

  opacity: 0.9;
}
/* ドット絵を綺麗に */
img {
  image-rendering: pixelated;
  position: absolute;
}

/* タクシー */
#taxi {
  width: 72px;
  height: 72px;

  left: 50px;
  top: 300px;
}

/* 帽子 */
#hat {
  width: 60px;
  height: 60px;

  top: 120px;
  left: 100vw;
}
#butterfly {
  position: absolute;

  width: 24px;
  height: 24px;

  display: none;

  image-rendering: pixelated;

  pointer-events: none;
}
#orange {
  position: absolute;

  width: 36px;
  height: 36px;

  image-rendering: pixelated;
}
.stockOrange {
  position: absolute;

  width: 24px;
  height: 24px;

  display: none;

  image-rendering: pixelated;

  pointer-events: none;

  z-index: 5;
}
#gameOverScreen {
  position: absolute;
  inset: 0;

  display: none;

  justify-content: center;
  align-items: center;

  background: rgba(0,0,0,0.35);

  z-index: 100;
}

#gameOverImage {
  width: min(80vw, 420px);

  image-rendering: pixelated;
}
